.header {
  position: fixed;
  background-color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headerContainer {
  position: relative;
  max-width: 1240px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.button {
  position: absolute;
  right: 20px;
  top: 0;
  border: none;
  background-color: transparent;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.tel {
  white-space: nowrap;
}