.gallery {
  padding-left: 10px;
  padding-right: 10px;
}

.gallery h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.galleryText {
  font-size: 14px;
  text-align: center;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (width >= 700px) {
  .gallery {
    padding-left: 20px;
    padding-right: 20px;
  }

  .gallery h2 {
    font-size: 36px;
  }

  .galleryText {
    font-size: 16px;
  }
}