.benefits {
  padding: 20px 10px;
}

.benefitsList {
  max-width: var(--max-width);
  margin: auto;
}

.benefitsItem {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  justify-content: start;
  align-items: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}

.benefitsItem::before {
  content: "";
  width: 40px;
  height: 40px;
  background: url("/image/benefit.svg") no-repeat center / contain;
}

@media screen and (width >= 700px) {

  .benefitsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .benefitsItem {
    font-size: 16px;
  }
}

@media screen and (width >= 1240px) {
  .benefitsList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}